<div class="buffer"></div>
<div class="m-page m-jobs departments-stretch " id="faqs">
	<div id="footer-apply">
		<div class="wide-page">
		    <div>
		        <section>
		        	<div id="departments-description">
			            <h1 class="left">Contact Now</h1>
		            	<h2 class="left">Become an individual, corporate, or equity subscriber.</h2>
		        	</div>
	            	<a href="mailto:business@roots.ai" class="email" target="_blank">Email Us</a>
		        </section>
		    </div>
		</div>
	   	
	</div>
</div>