<section>
	<div id="company-info">
		<div class="info-box clear-padding clear-shadow">
			<%= image_tag "enigma.png", :class => "breathe-animation" %>
		</div>
		<div class="info-box clear-shadow">
			<div id="departments-description">
				<h1 class="left">ROOTS Powered by <u>ENIGMA</u></h1>
				<h2 class="left">RTS Network is driven by Artificial Intelligence to make it work as a <b>Decentralised Autonomous Organisation</b>.</h2>
				<h2 class="left">Smart agent lets you book any asset, at the cheapest rate on your behalf.</h2>
				<h2 class="left">Data Accuracy using AI.</h2>
				<h2 class="left">Interoperability of Businesses.</h2>
		 	</div>
		</div>
	</div>
</section>