<div class="m-page m-jobs departments-stretch ">
	<div class="wide-page">
	    <div id="headline-bottom">
	        <section>
	            <span class="red-headline">
              		<b>Our upcoming events</b>
              	</span>
	        </section>
	    </div>
	</div>

	<div id="events">
	    <ul class="events-items">
		    <li class="events-item">
	    		<%= image_tag "world_satoshi_summit.png" %>
	    		<div>World Satoshi Summit - Making the world more efficient</div>
	    		<div><span><b>Speaker:</b></span><span> Bhuwan & Yadip</span></div>
	    		<div><span><b>Date:</b></span> 12-13 May, 2018<span></span></div>
	    		<div><span><b>Venue:</b></span> JW Marriott Hotel, New Delhi<span></span></div>
	    	</li>
		    <li class="events-item">
	    		<%= image_tag "blocksocial.png" %>
	    		<div>Blocksocial, Singapore - Blockchain for Social Impact</div>
	    		<div><span><b>Speaker:</b></span> Bhuwan Arora<span></span></div>
	    		<div><span><b>Date:</b></span><span> 18 May, 2018</span></div>
	    		<div><span><b>Time:</b></span><span> 630pm - 930pm</span></div>
	    		<div><span><b>Venue:</b></span><span> 80 Robinson Road, Singapore</span></div>
	    	</li>
		</ul>
	</div>
	<br/>
	<br/>
</div>