<div class="below-the-fold">
	<nav id="company-description">
		<div>
			<%= render partial: "website/partials/social"%>
		</div>
		<p>RTS Network ICO | Network of Decentralised Autonomous TOURISM MARKETPLACES</p>
		Copyright © Singularity Location Solutions Pvt Ltd, Singapore
	</nav>
</div>
