<div class="page-wrap">
	 <div class="content-wrap " >
		<div class="m-page">
			 <div id="departments-page-container" class="departments-stretch">
				<div>
					<div>
						<div class="divider"></div>
						<div id="headline-bottom">
							<section>
								<div id="departments-description">
									<h1 class="right">REPUTATION SYSTEM built on top of UPort</h1>
									<h2 class="right">Reputation Scores, Ratings and Badges to take the uncertainity out of buying from a Root.</h2>
									<h2 class="right">This creates Buyer Protection and is a crucial piece to handle Dispute Resolution.</h2>
								</div>
						 	</section>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>