<div class="page-wrap">
	 <div class="content-wrap " >
		<div class="m-page">
			 <div id="departments-page-container" class="departments-stretch">
				<div>
					<div>
						<div class="divider"></div>
						<div id="headline-bottom">
							<section>
								<div id="departments-description">
									<h1 class="left">ROOTS.AI dApp hosted on <u>RTS Network</u></h1>
									<h2 class="left">One stop solution for a traveller in a new city. Built for a Modern Day Traveller with Destination Discovery in Mind.</h2>
									<h2 class="left">For Developers...</h2>
								</div>
						 	</section>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>