<div class="page-wrap">
	 <div class="content-wrap " >
		<div class="m-page">
			 <div id="departments-page-container" class="departments-stretch">
					<div>
						<section>
							<div id="departments-description">
								<h1 class="left">We believe a trustless, private economy can be built without middlemen.</h1>
								<div id="flat">
								    <ul>
									    <li>
									    	<div>
									    		<h1>The ROOTS Framework</h1>
									    		<h2>At the core of every ROOT is a stack of Ethereum Smart Contracts and frontend libraries distributed on IPFS which power a ROOT’s basic functionality.</h2>
												<h2>The ROOTS Framework is designed to be flexible and extendable to adapt to different categories with plug in play of Modules.</h2>
											</div>
										</li>
									    <li>
									    	<div>
									    		<h1>ROOTS Powered by <u>ENIGMA</u></h1>
									    		<h2>RTS Network is driven by Artificial Intelligence to make it work as a <b>Decentralised Autonomous Organisation</b>.</h2>
												<h2>Smart agent lets you book any asset, at the cheapest rate on your behalf.</h2>
												<h2>Data Accuracy using AI.</h2>
												<h2>Interoperability of Businesses.</h2>
											</div>
										</li>
										<li>
									    	<div>
									    		<h1>REPUTATION SYSTEM built on top of UPort</h1>
												<h2>Reputation Scores, Ratings and Badges to take the uncertainity out of buying from a Root.</h2>
												<h2>This creates Buyer Protection and is a crucial piece to handle Dispute Resolution.</h2>
											</div>
										</li>
										<li>
									    	<div>
									    		<h1>ROOTS.AI dApp hosted on <u>RTS Network</u></h1>
												<h2>One stop solution for a traveller in a new city. Built for a Modern Day Traveller with Destination Discovery in Mind.</h2>
												<h2>For Developers...</h2>
											</div>
										</li>
										
									</ul>
								</div>
							</div>
						</section>
				 </div>
			</div>
	 </div>
</div>
