<section>
	<div id="company-info">
		<div class="info-box clear-padding clear-shadow">
			<%= image_tag "rtsnetwork.png", :class => "story"%>
		</div>
		<div class="info-box clear-shadow">
			<div>
	    		<h1>The ROOTS Framework</h1>
	    		<h2>At the core of every ROOT is a stack of Ethereum Smart Contracts and frontend libraries distributed on IPFS which power a ROOT’s basic functionality.</h2>
				<h2>The ROOTS Framework is designed to be flexible and extendable to adapt to different categories with plug in play of Modules.</h2>
			</div>
	    	<div>
	    		<h1>ROOTS Powered by <u>ENIGMA</u></h1>
	    		<h2>RTS Network is driven by Artificial Intelligence to make it work as a <b>Decentralised Autonomous Organisation</b>.</h2>
				<h2>Smart agent lets you book any asset, at the cheapest rate on your behalf.</h2>
				<h2>Data Accuracy using AI.</h2>
				<h2>Interoperability of Businesses.</h2>
			</div>
	    	<div>
	    		<h1>REPUTATION SYSTEM built on top of UPort</h1>
				<h2>Reputation Scores, Ratings and Badges to take the uncertainity out of buying from a Root.</h2>
				<h2>This creates Buyer Protection and is a crucial piece to handle Dispute Resolution.</h2>
			</div>
	    	<div>
	    		<h1>ROOTS.AI dApp hosted on <u>RTS Network</u></h1>
				<h2>One stop solution for a traveller in a new city. Built for a Modern Day Traveller with Destination Discovery in Mind.</h2>
				<h2>For Developers...</h2>
			</div>
		</div>
	</div>
</section>