<section>
	<div id="company-info" class="stories">
		<div class="info-box clear-padding clear-shadow">
			<%= image_tag "rtsnetwork.png", :class => "story"%>
		</div>
		<div class="info-box clear-shadow">
			<div>
				<h1 style="color: #5a5a5a; font-size: 1.6rem !important; line-height: 2rem !important;">Zero Collatoral Travel loans in RTS Tokens repayable by sharing & collection of non-fungible data.</h2>
			</div>
			<div>
				<h1 style="color: #5a5a5a; font-size: 1.6rem !important; line-height: 2rem !important;">Register your identity on Ethereum, travel without passport and sign transactions with UPort.</h2>
			</div>
	    	<div>
	    		<h1 style="color: #5a5a5a; font-size: 1.6rem !important; line-height: 2rem !important;">ROOTS Powered by <u>AI</u></h1>
	    		<h2>RTS Network is driven by Artificial Intelligence to make it work as a <b>Decentralised Autonomous Organisation</b>.</h2>
				<h2>AI driven Smart agent lets you book any asset, at the cheapest rate on your behalf.</h2>
				<h2>Cleaning, structuring and summarisation of Travel related info been handled with NLP & Neaural Nets.</h2>
				<h2>Business intelligence and interoperability to increase conversions.</h2>
			</div>
			<div>
	    		<h1 style="color: #5a5a5a; font-size: 1.6rem !important; line-height: 2rem !important;">The ROOTS Framework</h1>
	    		<h2>At the core of every ROOT is a stack of Ethereum Smart Contracts and frontend libraries distributed on Swarm and IPFS which power a ROOT’s basic functionality.</h2>
				<h2>The ROOTS Framework is designed to be flexible and extendable to adapt to different functionalities with plug & play of Smart Contracts coupled with Blockchain as a Service.</h2>
			</div>
	    	<div>
	    		<h1 style="color: #5a5a5a; font-size: 1.6rem !important; line-height: 2rem !important;"><a href="http://www.roots.ai" target="_blank">ROOTS.AI</a> dApp hosted on <u>RTS Network</u></h1>
				<h2>One stop solution for a traveller in a new city. Built for a Modern Day Traveller with Destination Discovery in Mind.</h2>
				<h2>For Developers (Coming Soon...)</h2>
			</div>
	    	<div>
	    		<h1 style="color: #5a5a5a; font-size: 1.6rem !important; line-height: 2rem !important;">REPUTATION SYSTEM built on top of UPort</h1>
				<h2>Reputation Scores, Ratings and Badges to take the uncertainty out of buying from a Root.</h2>
				<h2>This creates Buyer Protection and is a crucial piece to handle Dispute Resolution.</h2>
			</div>
		</div>
	</div>
</section>